/* Error: $color: #55c57a -dark is not a color.
 *    ,
 * 21 |         rgba($color-primary -dark, 0.8)
 *    |         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *    '
 *   Sass\layout\_header.scss 21:9  @import
 *   Sass\main.scss 20:9            root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: $color: #55c57a -dark is not a color.\a    \2577 \a 21 \2502          rgba($color-primary -dark, 0.8)\d\a    \2502          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a    \2575 \a   Sass\\layout\\_header.scss 21:9  @import\a   Sass\\main.scss 20:9            root stylesheet";
}
